{{ include('head.html.twig') }}



    <h1>Hello, world!</h1>

    <p>
      {{ name }}
      {{ test }}
    </p>

    <p>
      {% for row in result %}
        {{ row.CID }} <br>        {{ row.LATITUDE }} <br>        {{ row.LONGITUDE }} <br><br>
      {% endfor %}
    </p>  
    
    


{{ include('footer.html.twig') }}


Bonjour richardm !

Voici vos informations de connexion au serveur. Pour tous les accès, vos informations seront :

- Nom d'utilisateur : richardm 
- Mot de passe : nHP36IR10jfbjw==

Espace web
- Public : https://richardm.promo-28.codeur.online 
- Privé : https://richardm.private.promo-28.codeur.online (acsprivate/acs@acs / accessible par mot de passe en dehors du centre de formation)

Connexion SFTP / SSH
- Nom d'hôte : promo-28.codeur.online 
- Port : 22 
- Type de connexion : SFTP

MySQL / PHPMyAdmin
- URL : https://promo-28.codeur.online/adminer 

Longue vie et prospérité, 